recursive-exclude debian *
include ChangeLog
include LICENCE
include MANIFEST.in
include NEWS
include README
recursive-include docs *
recursive-include tests *
recursive-include coherence/extern/log *
recursive-include coherence/extern/uuid *
recursive-include coherence/ui/icons *
recursive-include coherence/upnp/core/xml-service-descriptions *
recursive-include coherence/web/static *
include misc/coherence-initscript.sh
include misc/media_server_observer.py
include misc/org.Coherence.service
include misc/upnp-tester.py
recursive-include misc/device-icons *
recursive-include misc/Desktop-Applet *
recursive-include misc/EOG-Plugin *
recursive-include misc/Nautilus *
recursive-include misc/Rhythmbox-Plugin *
recursive-include misc/Totem-Plugin *
