# config file for coherence
#
# keywords are case-sensitive

logmode = warning               # none, critical, error, warning, info, debug
#interface = eth0
#serverport = 12345             # if not specified coherence will use 30020

[plugins]
    [[FSStore]]
        content_directory = tests/content
        name = Coherence Test Content
    [[Player]]
        name = GStreamer Audio Player
    [[FlickrStore]]
        name = Flickr Images
        proxy = yes             # if set to yes coherence will fetch the images
                                #  from Flickr for your client

