# config file for coherence
#
# keywords are case-sensitive

logmode = warning               # none, critical, error, warning, info, debug
#interface = eth0
#serverport = 12345             # if not specified coherence will use 30020

[plugins]
    [[FSStore]]
    content_directory = tests/content
    [[Player]]

