# config file for coherence
#
# keywords are case-sensitive

logmode = warning                         # none, error, warning, info, debug, log
#logfile = coherence.log
#interface = eth0
serverport = 30020                       # if not specified or set to 0
                                          # coherence will let the OS choose the port

controlpoint = yes                        # if set to yes coherence will activate its
                                          # internal ControlPoint

web-ui = no                               # set this to yes to enable some interactive
                                          # Web-UI

#use_dbus = yes                            # set this to yes to let Coherence signal
                                          # devices and services via dbus and provide
                                          # access to them
                                          # only useful when controlpoint is enabled too

[subsystem_log]
#coherence = info
#WebUI = info
#SSDP = info
#MSEARCH = info
#SOAP = info
#Action = info
#Variable = info
#Event = info
#Service_Server = info
#Service_Client = info
#Device = info
#Connection_Manager_Server = info
#MediaServer= info
#MediaRenderer= log
#ControlPoint = info
#MS_Client = info
#flickr_storage = info
#Buzztard=info


[plugins]
    [[FSStore]]
    #    content = tests/content/audio,tests/content/video           # append more directories separated by commas
    #    version = 1
    #    #content = /data/audio/music
        name = Coherence Test Content
    #    [[[icon]]]
    #        mimetype = image/png
    #        width = 120
    #        height = 106
    #        depth = 24
    #        url = file:///home/dev/Projects/Coherence/tests/coherence-icon.png

    #[[GStreamerPlayer]]
    #    name = GStreamer Audio Player

    #[[AmpacheStore]]
    #    name = Ampache
    #    url = http://localhost/ampache/server/xml.server.php
    #    key = your password      # not your normal ampache user password,
                                  # this is for the XML-API
    #    user = your user         # optional

    #[[TrackerStore]]
    #    name = Tracker

    #[[ElisaPlayer]]
    #    name = Elisa
    #    host = localhost

    #[[IRadioStore]]
    #    name = iRadio

    [[FlickrStore]]
        name = Flickr Images
    #    refresh = 60                      # check every 60 minutes with Flickr for new images in the set
    #    proxy = yes                       # if set to yes coherence will fetch the images
    #                                      # from Flickr for your client
    #    [[[icon]]]
    #        mimetype = image/png
    #        width = 98
    #        height = 26
    #        depth = 24
    #        url = file:///home/dev/Projects/Coherence/tests/flickr-icon.png

    #[[MediaStore]]
    #    medialocation = /data/audio/music  # append more directories seperated by commas
    #    #medialocation = tests/content/audio
    #    coverlocation = /data/audio/covers # optional
    #    mediadb= /tmp/media.db
    #    name = Coherence MediaStore
    #    [[[icon]]]
    #        mimetype = image/png
    #        height = 48
    #        width = 48
    #        depth = 24
    #        url = file:///home/dev/elisa/elisa.png

    #[[AxisCamStore]]
    #    name = Elisa is watching you
    #    [[[Cam 1]]]
    #        url = http://192.168.1.222:554/mpeg4/1/media.amp
    #        protocol = rtsp-rtp-udp:*:video/MP4V-ES:*
    #    [[[Cam 2]]]
    #        url = http://192.168.1.222:554/mpeg4/2/media.amp
    #        protocol = rtsp-rtp-udp:*:video/MP4V-ES:*

    #[[BuzztardStore]]
    #    name = Buzztard
    #    host = localhost
    #    port = 7654

    #[[BuzztardPlayer]]
    #    name = Buzztard
    #    host = localhost
    #    port = 7654
